body {
  background-color: black;
}
/* Container layout */
.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Movie card box */
.movie-card {
  display: flex;
  flex-direction: row;
  background-color: #333;
  border-radius: 16px;
  box-shadow: 10px 10px 12px rgba(2, 65, 255, 0.2);
  overflow: hidden;
}

/* Left side info */
.movie-info {
  flex: 2;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main-img {
  width: 200px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

/* Text info */
.title {
  margin: 0;
  font-size: 1.8rem;
  color: white;
}

.year {
  color: rgb(0, 0, 255);
}
.movie-info p {
  margin: 0;
  font-size: 1rem;
  /* color: #555; */
}

.info {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.rating,
.duration {
  padding: 0.5rem;
  display: inline-block;
  margin-right: 1rem;
  color: white;
  font-weight: 500;
}

.genre {
  display: inline-block;
  color: rgb(208, 208, 208);
}

/* Description text */
.description {
  display: flex;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
}

/* Cover image (right side) */
.movie-cover {
  flex: 1;
  display: flex;
  background-color: #333;
}

.movie-cover img {
  width: 100%;
  object-fit: fill;
}

.mask {
  -webkit-mask-image: linear-gradient(to right, transparent, black 30%);
  mask-image: linear-gradient(to right, transparent, black 30%);
}

.icons {
  position: relative;
  bottom: 1rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.icons p {
cursor: pointer;
  font-size: large;
  color: rgb(200, 224, 245);
}

.icons p:hover  {
  color: rgb(0, 136, 255);
}
